/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/images";
@import "partials/base";

body {
    text-align: center;
    background-color: #eee;
}

p, td, th, div {
    font-family: Verdana, Arial Sans-serif;
    font-size: 13px;
}

a {
    color: blue;
    text-decoration: none;
    &:visited {
        color: blue;
        text-decoration: none;
    }
    &:hover {
        color: #999;
    }
    &.smgray {
        color: #666;
    }
}

#main {
    margin: 1em auto;
    padding: 8px;
    width: 400px;
    text-align: center;
    border: 1px solid #bbb;
    background-color: #fff;
}

#exchrate {
    width: 100%;
    text-align: center;
    color: #666;
    font-weight: bold;
    font-size: 2em;
    padding: 1em auto;
    margin: 1em auto;
}

div {
    &#orderform {
        text-align: center;
    }
    &#invoice {
        padding: .75em;
        margin: .5em auto;
        width: 250px;
        text-align: center;
    }
    &#button {
        padding: 1em;
    }
    &#results {
        padding: .25em;
        display: block;
        height: 50px;
        width: 200px;
        text-align: center;
        font-family: monospace;
    }
    &#loading {
        padding: .75em;
    }
}

.error {
    padding: .75em;
    color: crimson;
    font-weight: bold;
}

.invrow {
    clear: both;
    text-align: left;
}

.invhead, .invitem {
    font-family: monospace;
}

.invhead {
    width: 50px;
    font-weight: bold;
    float: left;
    margin: auto;
    text-align: left;
}

#logo {
    background-image: image-url("bitcoin-logo.png");
    width: image-width("bitcoin-logo.png");
    height: image-height("bitcoin-logo.png");
}

.invitem {
    float: left;
}

div.footer {
    padding: 2em;
    color: #666;
    font-size: .8em;
    a {
        color: #666;
    }
}

img {
    margin-bottom: 1em;
}

fieldset {
    padding: 1em;
    margin: .5em auto;
    width: 300px;
    display: inline-block;
    font-size: .9em;
    text-align: left;
    color: #000;
    border: 1px solid #999;
    background: #fff;
}

label {
    float: left;
    width: 45%;
    display: inline-block;
    padding: .25em .25em;
    margin: 0 .25em;
    text-align: right;
    font-weight: bold;
    color: #666;
}

legend {
    font-size: 1.2em;
    padding: 0.2em 0.5em;
    font-weight: bold;
    color: #666;
}