@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

@import "partials/base";
@import "modules/bootswatch";
@import "partials/variables";
@import "partials/fieldset";
//@import "modules/mixins";

.logo {
    background-image: image-url("drk/darkcoin-logo.png");
    width: image-width("drk/darkcoin-logo.png");
    height: image-height("drk/darkcoin-logo.png");
    text-align: center;
    margin: 1em auto;
}

#main {
    margin: 1em auto;
    padding: 8px;
    text-align: center;
    border: 1px solid #bbb;
    background-color: #fff;
    @media screen and (max-width: $break-small) {
        width: 320px;
    }
    @media screen and (min-width: $break-large) {
        width: 800px;
    }
}

#exchrate {
    width: 100%;
    text-align: center;
    color: $gray;
    font-weight: bold;
    font-size: 2em;
    padding: 1em auto;
    margin: 1em auto;
}

#bodycontent  {
  margin:1em;
  padding:1em auto;
  font-size: 14px;
  line-height: 1.25em;
}

#sendbtc {
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.5em auto;
    margin: 0.5em auto;
}

div.wide {
  width:100%;
  text-align:center;
}

.error {
    padding: 0.75em;
    color: crimson;
    font-weight: bold;
}

.invrow {
    clear: both;
    text-align: left;
}

.invhead, .invitem {
    font-family: monospace;
}

.invhead {
    width: 50px;
    font-weight: bold;
    float: left;
    margin: auto;
    text-align: left;
}

.invitem {
    float: left;
}

div {
    &#orderform {
        text-align: center;
    }
    &#invoice {
        padding: 0.75em;
        margin: 0.5em auto;
        width: 250px;
        text-align: center;
    }
    &#results {
        padding: .25em;
        display: block;
        height: 50px;
        width: 200px;
        text-align: center;
        font-family: monospace;
    }
    &#loading {
        padding: 0.75em;
    }
}

div.footer {
    padding: 2em;
    color: $gray;
    font-size: .8em;
    a {
        color: $gray;
    }
}



