/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Applications/Development/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Development/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Development/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Development/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Development/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Development/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Development/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Development/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Development/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
body {
  text-align: center;
  background-color: #eee;
}

/* line 16, ../sass/screen.scss */
p, td, th, div {
  font-family: Verdana, Arial Sans-serif;
  font-size: 13px;
}

/* line 21, ../sass/screen.scss */
a {
  color: blue;
  text-decoration: none;
}
/* line 24, ../sass/screen.scss */
a:visited {
  color: blue;
  text-decoration: none;
}
/* line 28, ../sass/screen.scss */
a:hover {
  color: #999;
}
/* line 31, ../sass/screen.scss */
a.smgray {
  color: #666;
}

/* line 36, ../sass/screen.scss */
#main {
  margin: 1em auto;
  padding: 8px;
  width: 400px;
  text-align: center;
  border: 1px solid #bbb;
  background-color: #fff;
}

/* line 45, ../sass/screen.scss */
#exchrate {
  width: 100%;
  text-align: center;
  color: #666;
  font-weight: bold;
  font-size: 2em;
  padding: 1em auto;
  margin: 1em auto;
}

/* line 56, ../sass/screen.scss */
div#orderform {
  text-align: center;
}
/* line 59, ../sass/screen.scss */
div#invoice {
  padding: .75em;
  margin: .5em auto;
  width: 250px;
  text-align: center;
}
/* line 65, ../sass/screen.scss */
div#button {
  padding: 1em;
}
/* line 68, ../sass/screen.scss */
div#results {
  padding: .25em;
  display: block;
  height: 50px;
  width: 200px;
  text-align: center;
  font-family: monospace;
}
/* line 76, ../sass/screen.scss */
div#loading {
  padding: .75em;
}

/* line 81, ../sass/screen.scss */
.error {
  padding: .75em;
  color: crimson;
  font-weight: bold;
}

/* line 87, ../sass/screen.scss */
.invrow {
  clear: both;
  text-align: left;
}

/* line 92, ../sass/screen.scss */
.invhead, .invitem {
  font-family: monospace;
}

/* line 96, ../sass/screen.scss */
.invhead {
  width: 50px;
  font-weight: bold;
  float: left;
  margin: auto;
  text-align: left;
}

/* line 104, ../sass/screen.scss */
#logo {
  background-image: url('../images/bitcoin-logo.png?1411576876');
  width: 200px;
  height: 42px;
}

/* line 110, ../sass/screen.scss */
.invitem {
  float: left;
}

/* line 114, ../sass/screen.scss */
div.footer {
  padding: 2em;
  color: #666;
  font-size: .8em;
}
/* line 118, ../sass/screen.scss */
div.footer a {
  color: #666;
}

/* line 123, ../sass/screen.scss */
img {
  margin-bottom: 1em;
}

/* line 127, ../sass/screen.scss */
fieldset {
  padding: 1em;
  margin: .5em auto;
  width: 300px;
  display: inline-block;
  font-size: .9em;
  text-align: left;
  color: #000;
  border: 1px solid #999;
  background: #fff;
}

/* line 139, ../sass/screen.scss */
label {
  float: left;
  width: 45%;
  display: inline-block;
  padding: .25em .25em;
  margin: 0 .25em;
  text-align: right;
  font-weight: bold;
  color: #666;
}

/* line 150, ../sass/screen.scss */
legend {
  font-size: 1.2em;
  padding: 0.2em 0.5em;
  font-weight: bold;
  color: #666;
}
